WingkouWeb/Connected Services/ImageProcessingService/ImageProcessingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageProcessingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32768/ImageProcessingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32768/ImageProcessingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32768/ImageProcessingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageProcessingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageProcessingService_ProcessImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessImage" />
  </wsdl:message>
  <wsdl:message name="IImageProcessingService_ProcessImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessImageResponse" />
  </wsdl:message>
  <wsdl:message name="IImageProcessingService_GetAvailableMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMethod" />
  </wsdl:message>
  <wsdl:message name="IImageProcessingService_GetAvailableMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageProcessingService">
    <wsdl:operation name="ProcessImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageProcessingService/ProcessImage" message="tns:IImageProcessingService_ProcessImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageProcessingService/ProcessImageResponse" message="tns:IImageProcessingService_ProcessImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageProcessingService/GetAvailableMethod" message="tns:IImageProcessingService_GetAvailableMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageProcessingService/GetAvailableMethodResponse" message="tns:IImageProcessingService_GetAvailableMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageProcessingService" type="tns:IImageProcessingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessImage">
      <soap:operation soapAction="http://tempuri.org/IImageProcessingService/ProcessImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMethod">
      <soap:operation soapAction="http://tempuri.org/IImageProcessingService/GetAvailableMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageProcessingService">
    <wsdl:port name="BasicHttpBinding_IImageProcessingService" binding="tns:BasicHttpBinding_IImageProcessingService">
      <soap:address location="http://localhost:32768/ImageProcessingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>